<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coc.data.mapper.ClanWarLogMapper">
    <insert id="batchInsert">
        insert ignore into clan_war_log
            (attacker_tag, defender_tag, war_tag, star, destruction_percentage, attack_order)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.attackerTag}, #{item.defenderTag}, #{item.warTag}, #{item.star},
             #{item.destructionPercentage}, #{item.attackOrder})
        </foreach>
    </insert>
    <select id="getWarLogs" resultMap="BaseResultMap">
        select cwl.* from clan_war cw
        join clan_war_log cwl on cw.tag = cwl.war_tag
        where (cw.clan_tag = #{request.clanTag}
                or cw.opponent_clan_tag = #{request.clanTag}
            )
              and cw.season = #{request.season}
              <if test="request.league">
                  and cw.type = 'league'
              </if>
              <if test="!request.league">
                  and cw.type != 'league'
              </if>
    </select>
</mapper>