<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coc.data.mapper.ClanWarLogMapper">
    <insert id="batchInsert">
        insert ignore into clan_war_log
            (attacker_tag, defender_tag, war_tag, clan_tag, star, destruction_percentage, attack_order)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.attackerTag}, #{item.defenderTag}, #{item.warTag}, #{item.clanTag}, #{item.star},
             #{item.destructionPercentage}, #{item.attackOrder})
        </foreach>
    </insert>
</mapper>