<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coc.data.mapper.ClanMapper">
    <insert id="insertOnDuplicateKeyUpdate">
        insert into clan (tag, name, extra_info) VALUES
            (#{clan.tag}, #{clan.name}, #{clan.extraInfo})
        on duplicate key update name = values(name), extra_info = values(extra_info);
    </insert>
    <select id="selectByClanTag" resultType="com.coc.data.model.base.Clan">
        select * from clan where tag = #{tag}
    </select>
    <select id="getClansNeedLeagueReport" resultMap="BaseResultMap">
        select * from clan where provide_league_war_report = 1;
    </select>
    <select id="getClansNeedNormalWarReport" resultMap="BaseResultMap">
        select * from clan where provide_clan_war_report = 1;
    </select>
    <select id="getNormalClans" resultMap="BaseResultMap">
        select * from clan where expire_time is null or expire_time > now()
    </select>
</mapper>