<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coc.data.mapper.ClanWarMemberMapper">
    <insert id="batchInsert">
        insert into clan_war_member (
                         member_tag,member_name, war_tag, clan_tag,map_position)
        values
        <foreach collection="list" item="item" separator=",">
            (
             #{item.memberTag}, #{item.memberName},#{item.warTag},
             #{item.clanTag}, #{item.mapPosition})
        </foreach>
        on duplicate key update
            member_name = values(member_name),
            map_position = values(map_position)
    </insert>
    <delete id="deleteNotInClanWarMember">
        update clan_war_member set is_deleted = 1 where war_tag = #{warTag} and clan_tag = #{clanTag}
        and member_tag not in(
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>
    <update id="deleteNotInWarClanMember">
        update clan_war_member set is_deleted = 1 where war_tag = #{warTag}
        and member_tag not in(
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </update>
    <select id="getClanWarMemberInfo" resultMap="BaseResultMap">
        select * from clan_war_member where war_tag in
        (<foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>) and clan_tag = #{clanTag}
    </select>
    <select id="selectClanMemberByWarTag" resultMap="BaseResultMap">
        select * from clan_war_member where war_tag = #{warTag} and is_deleted = 0
    </select>
</mapper>