<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coc.data.mapper.ClanWarMembersMapper">
  <resultMap id="BaseResultMap" type="com.coc.data.model.ClanWarMembers">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_tag" jdbcType="VARCHAR" property="memberTag" />
    <result column="war_tag" jdbcType="VARCHAR" property="warTag" />
    <result column="clan_tag" jdbcType="VARCHAR" property="clanTag" />
    <result column="attack_three_star_time" jdbcType="SMALLINT" property="attackThreeStarTime" />
    <result column="attack_two_star_time" jdbcType="SMALLINT" property="attackTwoStarTime" />
    <result column="attack_one_star_time" jdbcType="SMALLINT" property="attackOneStarTime" />
    <result column="attack_no_star_time" jdbcType="SMALLINT" property="attackNoStarTime" />
    <result column="attack_time_used" jdbcType="SMALLINT" property="attackTimeUsed" />
    <result column="attack_time_left" jdbcType="SMALLINT" property="attackTimeLeft" />
      <result column="defense_no_star_time" jdbcType="SMALLINT" property="defenseNoStarTime" />
      <result column="defense_one_star_time" jdbcType="SMALLINT" property="defenseOneStarTime" />
      <result column="defense_two_star_time" jdbcType="SMALLINT" property="defenseTwoStarTime" />
      <result column="defense_three_star_time" jdbcType="SMALLINT" property="defenseThreeStarTime" />
      <result column="total_defense_star" jdbcType="SMALLINT" property="totalDefenseStar" />
      <result column="total_attack_star" jdbcType="SMALLINT" property="totalAttackStar" />
      <result column="total_defense_time" jdbcType="SMALLINT" property="totalDefenseTime"/>
    <result column="is_league_war" jdbcType="SMALLINT" property="leagueWar"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="insertIgnoreExist">
    insert ignore into coc_clan_war_members (member_tag,member_name, war_tag, clan_tag, attack_time_left)
    values
     <foreach collection="list" item="item" separator=",">
       (#{item.memberTag}, #{item.memberName},#{item.warTag}, #{item.clanTag}, #{item.attackTimeLeft})
     </foreach>
  </insert>
  <select id="getWarLogRelatedClanWarMembers" resultMap="BaseResultMap">
    select ccwm.*,ccw.is_league_war from coc_clan_war_members ccwm join coc_clan_wars ccw on ccwm.war_tag = ccw.tag where ccwm.clan_tag = #{clanTag} and ccwm.war_tag = #{warTag} and ccwm.member_tag in (#{defenderTag}, #{attackerTag}) group by ccwm.member_tag;
  </select>
  <update id="updateClanWarMember">
    update coc_clan_war_members set attack_no_star_time = #{member.attackNoStarTime},
                                    attack_one_star_time = #{member.attackOneStarTime},
                                    attack_two_star_time = #{member.attackTwoStarTime},
                                    attack_three_star_time = #{member.attackThreeStarTime},
                                    attack_time_used = #{member.attackTimeUsed},
                                    attack_time_left = #{member.attackTimeLeft},
                                    defense_no_star_time = #{member.defenseNoStarTime},
                                    defense_one_star_time = #{member.defenseOneStarTime},
                                    defense_two_star_time = #{member.defenseTwoStarTime},
                                    defense_three_star_time = #{member.defenseThreeStarTime},
                                    total_defense_time = #{member.totalDefenseTime},
                                    total_attack_star = #{member.totalAttackStar},
                                    total_defense_star = #{member.totalDefenseStar}
    where id = #{member.id}
  </update>
  <select id="getCurrentSeasonData" resultMap="BaseResultMap">
      select
          ccwm.clan_tag as clan_tag,
          ccwm.member_tag as member_tag,
          sum( ccwm.attack_no_star_time ) AS attack_no_star_time,
          sum( ccwm.attack_one_star_time ) AS attack_one_star_time,
          sum( ccwm.attack_two_star_time ) AS attack_two_star_time,
          sum( ccwm.attack_three_star_time ) AS attack_three_star_time,
          sum( ccwm.defense_no_star_time ) AS defense_no_star_time,
          sum( ccwm.defense_one_star_time ) AS defense_one_star_time,
          sum( ccwm.defense_two_star_time ) AS defense_two_star_time,
          sum( ccwm.defense_three_star_time ) AS defense_three_star_time,
          sum( ccwm.attack_time_left ) AS attack_time_left,
          sum( ccwm.attack_time_used ) AS attack_time_used,
          sum( ccwm.total_attack_star ) AS total_attack_star,
          sum( ccwm.total_defense_star ) AS total_defense_star,
          sum( ccwm.total_defense_time ) AS total_defense_time,
          ccw.is_league_war
      FROM
          coc_clan_war_members ccwm
      JOIN coc_clan_wars ccw on ccwm.war_tag = ccw.tag and ccwm.clan_tag = ccw.clan_tag
      WHERE
            ccw.season = #{season}
      GROUP BY
          ccw.is_league_war,
          ccwm.clan_tag,
          ccwm.member_tag
  </select>
  <delete id="deleteNotInClanWarMember">
      update coc_clan_war_members set is_deleted = 1 where war_tag = #{warTag} and clan_tag = #{clanTag}
      and member_tag not in(
          <foreach collection="list" item="item" separator=",">
                #{item}
          </foreach>
          )
  </delete>
</mapper>
