<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coc.data.mapper.ReportClanWarMemberMapper">
  <resultMap id="BaseResultMap" type="com.coc.data.model.ReportClanWarMember">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_tag" jdbcType="VARCHAR" property="memberTag" />
    <result column="season" jdbcType="VARCHAR" property="season" />
    <result column="clan_tag" jdbcType="VARCHAR" property="clanTag" />
    <result column="attack_three_star_time" jdbcType="SMALLINT" property="attackThreeStarTime" />
    <result column="attack_two_star_time" jdbcType="SMALLINT" property="attackTwoStarTime" />
    <result column="attack_one_star_time" jdbcType="SMALLINT" property="attackOneStarTime" />
    <result column="attack_no_star_time" jdbcType="SMALLINT" property="attackNoStarTime" />
    <result column="attack_time_used" jdbcType="SMALLINT" property="attackTimeUsed" />
    <result column="attack_time_left" jdbcType="SMALLINT" property="attackTimeLeft" />
    <result column="defense_no_star_time" jdbcType="SMALLINT" property="defenseNoStarTime" />
    <result column="defense_one_star_time" jdbcType="SMALLINT" property="defenseOneStarTime" />
    <result column="defense_two_star_time" jdbcType="SMALLINT" property="defenseTwoStarTime" />
    <result column="defense_three_star_time" jdbcType="SMALLINT" property="defenseThreeStarTime" />
    <result column="total_defense_star" jdbcType="SMALLINT" property="totalDefenseStar" />
    <result column="total_attack_star" jdbcType="SMALLINT" property="totalAttackStar" />
    <result column="total_defense_time" jdbcType="SMALLINT" property="totalDefenseTime"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <insert id="replaceBatch">
    replace into coc_report_clan_war_member
        (member_tag, season, clan_tag, attack_three_star_time, attack_two_star_time, attack_one_star_time,
         attack_no_star_time, attack_time_used, attack_time_left, defense_three_star_time, is_league_war,
         defense_one_star_time,defense_two_star_time, defense_no_star_time, total_defense_star, total_attack_star, total_defense_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.memberTag}, #{item.season}, #{item.clanTag}, #{item.attackThreeStarTime}, #{item.attackTwoStarTime}, #{item.attackOneStarTime},
       #{item.attackNoStarTime}, #{item.attackTimeUsed}, #{item.attackTimeLeft}, #{item.defenseThreeStarTime}, #{item.leagueWar},
       #{item.defenseOneStarTime}, #{item.defenseTwoStarTime}, #{item.defenseNoStarTime}, #{item.totalDefenseStar}, #{item.totalAttackStar}, #{item.totalDefenseTime})
    </foreach>
  </insert>
  <select id="getSeasons" resultType="string">
    select season from coc_clan_wars group by season
  </select>
  <select id="getReportWarData" resultType="map">
        select
            cp.name,
            ccwm.attack_no_star_time AS at_no_star,
            ccwm.attack_one_star_time AS at_one_star,
            ccwm.attack_two_star_time AS at_two_star,
            ccwm.attack_three_star_time AS at_three_star,
            ccwm.defense_three_star_time AS df_three_star,
            ccwm.attack_time_left AS at_time_left,
            ccwm.attack_time_used AS at_time_used,
            ccwm.total_attack_star as total_star_get,
            ccwm.total_defense_star as total_star_lose,
            ccwm.total_attack_percentage as total_attack_percentage,
            ccwm.total_attack_star - ccwm.total_defense_star as total_star_gained
        FROM
            coc_clan_war_members ccwm
            JOIN coc_clans cc on cc.tag = ccwm.clan_tag
            JOIN coc_players cp ON ccwm.member_tag = cp.tag
        WHERE
            ccwm.clan_tag = #{tag}
            AND ccwm.season = #{season}
            and ccwm.is_league_war = #{league}
            and ccwm.is_seasonaly_report = 1
        ORDER BY
            <if test="league">
              total_star_gained desc,
            </if>
          at_three_star DESC,
          total_attack_percentage DESC,
          at_two_star DESC,
          at_one_star DESC,
          at_no_star DESC,
          df_three_star ASC
  </select>
</mapper>