<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coc.data.mapper.UserMapper">
    <select id="selectValidUser" resultMap="ResultMapWithBLOBs">
        select * from user where open_id = #{openId} and session_key = #{sessionKey}
    </select>
    <insert id="insertOnDuplicateKeyUpdate">
        insert into user (
          nick_name, male,
          lang, country, province, city,
          avatar_url, open_id, union_id, session_key) VALUES
        (#{user.nickName}, #{user.male},
         #{user.lang}, #{user.country}, #{user.province}, #{user.city},
         #{user.avatarUrl}, #{user.openId}, #{user.unionId}, #{user.sessionKey})
         on duplicate key update
            nick_name = values(nick_name),
            male = values(male),
            lang = values(lang),
            country = values(country),
            province = values(province),
            city = values(city),
            avatar_url = values(avatar_url),
            open_id = values(open_id),
            union_id = values(union_id),
            session_key = values(session_key)
    </insert>
    <select id="selectByOpenId" resultMap="ResultMapWithBLOBs">
        select * from user where open_id = #{openId}
    </select>
    <update id="saveUserSetting">
        update user set setting = #{setting} where open_id = #{openId} and is_deleted = 0
    </update>
    <select id="selectByMemberTags" resultType="com.coc.data.dto.user.PlayerUserWarInfoDTO">
        select u.nick_name `userName`,
               u.open_id `openId`,
               p.tag `playerTag`,
               p.name `playerName`,
               u.setting `userSetting`
        from user u
            join user_player_relation upr on u.id = upr.user_id and u.is_deleted = 0
            join player p on p.id = upr.player_id
            where p.tag in (
                <foreach collection="list" item="item" separator=",">
                    #{item}
                </foreach>)
            and u.is_deleted = 0
    </select>
    <select id="getThreeStarPlayerInfoInCertainTime" resultType="com.coc.data.dto.user.PlayerUserWarInfoDTO">
        select u.nick_name `userName`,
               u.open_id `openId`,
               p.tag `playerTag`,
               p.name `playerName`,
               u.setting `userSetting`,
               cwl.attack_order `attackOrder`
        from clan_war_log cwl
            join player p on cwl.attacker_tag = p.tag
            join user_player_relation upr on p.id = upr.player_id and p.is_deleted = 0 and upr.is_deleted = 0
            join user u on upr.user_id = u.id and u.is_deleted = 0
        where cwl.war_tag = #{warTag} and cwl.create_time > #{date}
    </select>
</mapper>